<phpunit bootstrap="tests/bootstrap.php" backupGlobals="false" colors="true">
	<testsuites>
		<!-- Default test suite to run all tests -->
		<testsuite>
			<directory suffix=".php">tests/phpunit</directory>
		</testsuite>
	</testsuites>
	<filter>
		<whitelist processUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">src</directory>
		</whitelist>
	</filter>
</phpunit>
